@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #000000;
  background-color: #b5b0b0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #024c67;
}

a:hover {
  color: #2066d7;
}

/* header部分 */

#home {
  position: relative;
}

.wrapper {
  max-width: 1100px;
  margin: 0px auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.page-header {
  z-index: 999;
  background-color: #fff;
  height: 90px;
}

.page-header h1 {
  margin: 20px auto 0px 10%;
}

.trowel {
  position: fixed;
  width: 100vw;
  top: 0px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 50px;
}

.home-content {
  text-align: center;
  margin-top: 100px;
}

nav {
  padding: 30px 10px 0 0;
}

.main-nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.main-nav li {
  padding: 0 20px;
}

/* body部分 */

.main-title {
  text-align: center;
  margin: 100px auto 50px;
}

.main-title h1 {
  font-size: 2rem;
}

.main-title p {
  font-size: 1rem;
}

.content-itiran {
  display: grid;
  gap: 10px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;
  justify-content: space-between;
  margin: 0 10px;
}

.content-itiran h2:hover {
  color: #2066d7;
}

/* .content-border {
  border: 1px #000 dashed;
  margin: 0 10px;
} */

.main-content {
  text-decoration: underline;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mypurofile img {
  width: 48px;
  height: 48px;
}

.wireframe img {
  width: 48px;
  height: 48px;
}

.WCBCafe {
  padding-bottom: 10px;
}

.WCBCafe img {
  width: 150px;
  height: 48px;
}

.WCBCafe p {
  font-size: 1rem;
}

/* Photoshop */
.photoshop-content {
  display: block;
  margin: 0px auto;
}

.page-title {
  margin: 0 auto 70px;
}

.page-title img {
  max-width: 70%;
  height: 100px;
  margin: 50px 0 -100px;
}

.persona {
  width: 400px;
  margin: 10px auto;
  text-align: left;
  border-bottom: 1px #2066d7 solid;
}

.persona h2 {
  text-align: center;
}

.persona p {
  padding: 3px 0;
  margin: 5px;
  border-top: 1px #000 solid;
}

.seika {
  margin-top: 20px;
}

.seika img {
  max-width: 94%;
}

.seika2-img {
  max-width: 94%;
}
/* illustrator */

#illustrator {
  margin-top: 100px;
}

.illustrator-content {
  margin: 0px 4%;
}

.title-illustrator img {
  max-width: 80%;
  height: 150px;
  margin: 30px 0 -10px;
}

/* Premiere Pro */

#premierepro {
  margin-top: 100px;
}
/* 
.premierepro-title {
  margin: 0px 0px -250px;
} */

.premierepro-title img {
  max-width: 100%;
}

.premierepro-content {
  margin: 0px 4%;
  padding: 20px 0;
}

.douga {
  margin: 20px 0;
}

/* purofile */

.purofile-content {
  margin: 100px auto 40px;
  padding: 10px;
  text-align: left;
}

.myname {
  border-bottom: 1px #000 dashed;
  padding-left: 5px;
  max-width: 50%;
  margin: 5px 4% 5px auto;
  display: flex;
  justify-content: space-between;
}

.myname p {
  padding-top: 10px;
}

.mydate {
  padding: 10px 0;
  max-width: 50%;
  margin: 5px 4% 5px auto;
}

.mydate p {
  padding: 3px 0;
  border-bottom: 1px #000 dashed;
}

.myrireki {
  margin-top: 10px;
  margin: 5px;
  border-bottom: 1px #000 dashed;
}

.myrireki p {
  margin-bottom: 15px;
}

.myskill {
  margin: 5px;
  border-bottom: 1px #000 dashed;
}

.myskill2 {
  margin: 5px;
  border-bottom: 1px #000 dashed;
}

.mypr p {
  margin-bottom: 15px;
}

/* footer */

footer {
  text-align: center;
  background-color: #4e4444;
  color: #fff;
  padding: 20px 0;
  margin-top: 30px;
}

/* モバイル版 */
@media (max-width: 600px) {
  .page-header {
    height: 65px;
  }
  /* 
  .page-header h1 {
    margin: 0px auto 0px 20px;
  } */

  /* .page-header h1 {
    margin: 0 auto;
  } */

  .logo {
    width: 50px;
    height: 40px;
  }

  .wrapper {
    margin: 0 10px;
  }

  nav {
    padding: 20px 0 0 0;
  }

  .main-nav {
    flex-wrap: wrap;
  }

  .main-nav li {
    font-size: 0.75rem;
  }
  /* .menu-button {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    margin-top: 0px;
  } */

  .main-nav li {
    padding: 0 10px;
  }

  /* .main-nav.open-menu {
    position: absolute;
    top: 25px;
    right: 5%;
    width: 250px;
    list-style: none;
  } */

  /* body部分 */
  .main-title {
    width: 80%;
  }

  .main-title h1 {
    font-size: 1.5rem;
  }

  .main-title p {
    font-size: 0.75rem;
  }

  h2 {
    font-size: 1rem;
  }

  .content-border {
    margin: 0 4%;
  }

  .content-itiran {
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 150px;
    margin-bottom: 70px;
  }

  .photoshop-content {
    display: block;
    justify-content: center;
  }

  .persona {
    width: 200px;
    margin-top: 20px;
  }

  .seika {
    padding-bottom: 5px;
  }

  iframe {
    width: 300px;
  }

  .purofile-content {
    margin-top: 70px;
  }

  .mydate {
    max-width: 65%;
  }

  .myname {
    display: block;
    max-width: 65%;
  }
}

@media (max-width: 300px) {
  .page-header {
    height: 80px;
  }

  .purofile-content {
    margin-top: 100px;
  }

  .main-nav {
    flex-wrap: wrap;
  }

  iframe {
    width: 200px;
  }

  .mydate {
    max-width: 100%;
  }

  .page-title {
    margin-top: 50px;
  }
}
